%h1 Items

- if @item.empty?

  %b No items in store

- else

  %table

    %tr
      %th item id
      %th name
      %th price
      %th
      %th Rating
      %th Vote

    - @item.each do |i|
      %tr
        %td= i.id
        %td= link_to i.name, item_path(i)
        %td= "#{i.price} $"
        %td= link_to("delete", item_path(i), method: :delete, data: { confirm: "are you sure?" })
        %td= "Rating: #{i.votes_count}"
        %td= link_to '+', upvote_item_path(i)
