
%html{ :lang => "en" }
%head
  %title MyStore
  = stylesheet_link_tag  "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags 

%body

  = link_to "Home", '/items'

  %p{ :style => "color: red" }= flash[:error]
  %p{ :style => "color: green" }= flash[:success]

  = yield

